body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('images/background.jpg');
    background-size: cover; /* Mengatur gambar untuk menutupi seluruh latar belakang */
    background-position: center; /* Memusatkan gambar latar belakang */
    background-repeat: no-repeat; /* Mencegah gambar diulang */
}

.card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    max-width: 400px;
    margin: 20px;
    opacity: 0.9;
}

h1 {
    color: #d45d79;
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 15px;
}

button {
    background-color: #d45d79;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b34d6c;
}
